<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pedranji.sync-passwords</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/Users/pedranji/Documents/sync-passwords/syncer.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardErrorPath</key>
    <string>/Users/pedranji/Documents/sync-passwords/sync-errors.log</string>
    <key>StandardOutPath</key>
    <string>/Users/pedranji/Documents/sync-passwords/sync-output.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/pedranji/Documents/sync-passwords</string>
</dict>
</plist> 