[Unit]
Description=Sync KeePass to Proton Drive every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target