[Unit]
Description=Run python syncer every hour 
Requires=python_sync_passwords.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
