[Unit]
Description=Hourly Python Sync Passwords
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pedrofuentes79/Documents/sync-passwords/syncer.py
WorkingDirectory=/home/pedrofuentes79/Documents/sync-passwords/
